.bar {
  padding: 5px 35px;
}

.brand {
  padding: .5em;
}

.content {
  padding: 0 35px 62px 35px;
}

.candidate-page {
  padding: 25px;
}

.name {
  padding: 30px 0;
}

.column {
  text-align: center;
  padding: 30px;
}

h4 {
  color: white;
}

.tab {
  margin: 0 .5em 4em .5em;
  padding: .5em;
  word-spacing: 9px;
}

.question-statement{
  width: auto;
  height: 195px;
}

.up-lift{
  position: relative;
  bottom: 18.5em;
}

.evaluation{
  margin-bottom: 2em;
}

.elements{
  text-align: left;
  padding: 2em 4em;
}

.chart{
  padding-top: 50px;
  text-align: left;
}

.txt-center {
  text-align: center;
}
.hide {
  display: none;
}

.clear {
  float: none;
  clear: both;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    position: relative;
}

.rating > label {

    position: relative;
    cursor: pointer;
    color: #000;
    font-size: 25px;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
    color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: #FFD700;
}
